#abc{

    background-color: yellow;
    text-align: left;
    width: 700px;
}
.abc{
    background-color:#ebc334;
    text-align: center;
}


h1{
    color: red;
    background-color: black;
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(63, 5, 12);
    text-align: center;
}
a{
    color:red;
    display: block;
    text-align: center;
    text-decoration:none ;

}
i{
    color: aqua;
    text-align: center;
    display: block;
}